<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760123565598-560kp13qrqgpnadc971tn7ernmss34dl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760123565598-560kp13qrqgpnadc971tn7ernmss34dl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>760123565598-29abvu9qc2qfthuhb8lp4k6cngut5ub6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYzHuwBEh0YCKwk4Cke4ms6FFmyLGwTD8</string>
	<key>GCM_SENDER_ID</key>
	<string>760123565598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.custodia.custodia</string>
	<key>PROJECT_ID</key>
	<string>custodia-app-248318</string>
	<key>STORAGE_BUCKET</key>
	<string>custodia-app-248318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760123565598:ios:0120a02a0d3caf7bf3f00f</string>
	<key>DATABASE_URL</key>
	<string>https://custodia-app-248318.firebaseio.com</string>
</dict>
</plist>